
.FormPage {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    .FormFieldSection {
        display: block;
        position: relative;
        height: 80vh;
    }

    .NavigationSection {
        display: block;
        position: relative;
        height: 10vh;
    }
}

@media only screen and (max-width: 768px) {
    .FormPage .FormFieldSection, .FormPage .NavigationSection {
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .FormPage .FormFieldSection, .FormPage .NavigationSection {
        width: 60vw;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .FormPage .FormFieldSection, .FormPage .NavigationSection {
        width: 50vw;
    }
}

@media only screen and (min-width: 1280px) {
    .FormPage .FormFieldSection, .FormPage .NavigationSection {
        width: 40vw;
    }
}
